@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css" />

</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/Content/js/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Content/js/boostrap/bootstrap.min.js"></script>
</body>
</html>
