@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Layout/Base.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p><b>Are you sure you want to delete this item?</b></p>
            <form action="/category/deleteconfirmed" method="post">
                <input type="hidden" name="id" value="@ViewBag.CategoryId" />
                <button class="btn btn-default">Delete</button>
            </form>
        </div>
    </div>
</div>

